@media only screen and (max-width: 1338px) {
    .header-container {
        padding: 0 69px;
        margin: 0;
    }
    .header-top-content {
        position: fixed;
        z-index: 3;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 40vw;
        right: 0;
        top: 0;
        justify-content: center;
        align-items: center;
        right: -622px;
        transition: .3s;
    }
    /* .header-body {
        margin-top: 10vh;
    } */
    .header-top-content--open {
        background: rgba(0, 0, 0, 0.74);
        box-shadow: 10px 0 15px 25px rgba(0, 0, 0, 0.74);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        right: 0;
        transition: right .3s ease, width .3s ease;
        overflow-y: auto;
    }
    .header-top-content--open a {
        z-index: 4;
    }
    .header-top-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 4;
    }
    .header-top-list-item {
        color: #fff;
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .burger-button {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .burger-button::after {
        content: '';
        position: absolute;
        border-radius: 20px;
        height: 3px;
        width: 100%;
        top: 30%;
        background: #000;
    }
    .burger-button::before {
        content: '';
        position: absolute;
        border-radius: 20px;
        height: 3px;
        width: 100%;
        bottom: 30%;
        background: #000;
    }
    .header-body__inner {
        justify-content: space-evenly;
    }
}
@media only screen and (max-width: 1110px) {
    .sect-meet-client {
        justify-content: center;
    }
    .meet-client-main {
        flex: none;
    }
    .meet-client-imagebox {
        display: none;
    }
}
@media only screen and (max-width: 1030px) {
    .header-body-content {
        max-width: 480px;
    }
    .header-body-content span {
        font-size: 48px;
        line-height: 126%;
        margin-bottom: 0;
    }
    .header-body-content p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .header-body-imagebox img {
        max-height: 65vh;
    }
}


@media only screen and (max-width: 1003px) {
    .header-body-content span {
        font-size: 48px;
    }
    .header-body-imagebox {
        max-width: 454px;
    }
}

@media only screen and (max-height: 1000px) {
    .header-body-imagebox img {
        height: 100%;
        max-height: 75vh;
    }
}

@media only screen and (max-width: 933px) {
    .header-top-content {
        width: 100vw;
        transition: width .3s ease;
    }
    .header-body {
        height: 75%;
        display: flex;
        align-items: center;
        vertical-align: middle;
        justify-content: center;
    }
    .header-body-imagebox {
        display: none;
    }
    .suscribe-slider-block {
        max-width: 700px;
    }
    .opportunities-up {
        display: flex;
        justify-content: center;
    }
    .opportunities-up__inner {
        flex-direction: column;
        max-width: 651.5px;
        text-align: center;

    }
    .opportunities-separation {
        display: none;
    }
    .opportunities-up-ltext {
        text-align: center;
    }
    .sect-suscribe {
        display: none;
    }
}

@media only screen and (max-width: 414px) {
    .header-container {
        padding: 0 15px;
    }
    .header-body-content span {
        font-size: 32px;
    }
    .header-body-title h1 {
        font-size: 14px;
    }
    .header-body-title {
        max-width: calc(100% - 20%);
    }
    .blue-button {
        font-size: 14px;
    }
    .sect-companies {
        margin: 70px 0;
    }
    .companies-list-item {
        margin-right: 20px;
    }
    .sect-awesome-apps {
        margin: 50px 0;
    }
    .awesome-apps-content h2 {
        text-align: center;
    }
    .awesome-apps-content>p {
        text-align: center;
        margin-bottom: 48px;
    }
    .awesome-apps-imagebox {
        display: none;
    }
    .awesome-feature {
        margin-bottom: 36px;
    }
    .features-speed span {
        font-size: 18px;
    }
    .features-speed p {
        font-size: 14px;
    }
    .opportunities-up {
        margin-bottom: 60px;
    }
    .opportunities-up-ltext {
        font-size: 32px;
    }
    .opportunities-down-item {
        padding-top: 100px;
        text-align: center;
    }
    .opportunities-bill span {
        font-size: 18px;
    }
    .opp-down-text {
        font-size: 14px;
    }
    .design-prog-content {
        margin-left: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .design-prog-imagebox {
        display: none;
    }
    .sect-whychoose {
        margin: 60px 0;
    }
    .whychoose-title-content {
        margin-bottom: 64px;
    }
    .whychoose-blocks {
        display: flex;
        justify-content: center;
    }
    .whychoose-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .whychoose-item {
        max-width: none;
        margin-bottom: 36px;
        padding: 0 5px;
    }
    .whychoose-item span {
        font-size: 18px;
    }
    .whychoose__inner p {
        font-size: 14px;
    }
    .sect-ultimate {
        margin: 60px 0 100px;
    }
    .ultimate-imagebox {
        display: none;
    }
    .ultimate-content {
        justify-content: center;
    }
    .ultimate-title-content {
        text-align: center;
    }
    .ultimate-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .ultimate__inner {
        display: unset;
    }
    .ultimate-item {
        margin-right: 0;
        text-align: center;
        align-items: center;
        margin-bottom: 36px;
        padding: 0 5px;
    }
    .ultimate-item img {
        margin-bottom: 15px;
    }
    .ultimate-item span {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .ultimate-content p {
        font-size: 14px;
    }
    .sect-meet-client {
        display: block;
        margin: 50px 0 100px;
    }
    .meet-client__inner {
        display: unset;
    }
    .meet-client-title  {
        text-align: center;
    }
    .stars {
        margin: 30px auto 0;
    }
    .meet-client-fcontent {
        font-size: 16px;
    }
    .meet-client-avatar {
        margin-right: 15px;
        width: 75px;
    }
    .slide-next {
        width: 40px;
        height: 40px;
    }
    .slide-prev {
        width: 40px;
        height: 40px;
        margin-right: 5px;
    }
    .faq-block span {
        font-size: 18px;
    }
    .faq-text {
        font-size: 14px;
    }
    .download-imagebox {
        display: none;
    }
    .download-title {
        font-size: 24px;
        margin-bottom: 14px;
    }
    .download__inner p {
        font-size: 14px;
    }
    .download-apps {
        max-width: 350px;
    }
    .download-apps img:first-child {
        margin-right: 15px;
    }
    .download-apps img {
        max-width: 150px;
    }
}
