.preloader {
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #fff;
    transition: all 1s;
    opacity: 1;
    visibility: visible;

    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 5px solid transparent;
        border-top-color: #2500f9;
        transform: translate(-50%, -50%);
        animation: 1s loadAnim infinite linear;
    }
    

    &.done {
        opacity: 0;
        visibility: hidden;
    }

}

@keyframes loadAnim {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.blue-button {
    /* display: inline-flex; */
    color: #fff;
    background: #2500f9;
    padding: 16px 36px;
    border-radius: 28.5px;
    font-weight: 700;
}

.unscroll {
    overflow: hidden;
}

/* ––––––––––––––HEADER-TOP–————————————————— */
/* ––––––––––––––HEADER-TOP–————————————————— */

.header {
    height: 100vh;
    position: relative;
    bottom: 0;
    background: url('./bg-things2.svg') center no-repeat, url('./bg-things.svg') 20% 35%/30% no-repeat, url('./images/bg-city.png') bottom/100% no-repeat;
}
.header-container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.header-top {
    margin: 0 0 20px 0;
    padding-top: 93px;
}
.header-top__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    font-size: 30px;
    font-weight: 700;
    margin-right: 20px;
}
.header-logo span {
    color: #fcae61;
}

.header-top-content {
    display: flex;
    align-items: center;
    transition: width .3s ease;
}

.header-top-list {
    display: flex;
}
.header-top-list-item {
    color: #242f51;
    margin-right: 40px;
}

.blur {
    display: none;
}

.header-burger {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    z-index: 4;

    /* background: #000; */
}

.burger-button {
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
}

.burger-button::after {
    content: '';
    position: absolute;
    border-radius: 20px;
    height: 3px;
    width: 100%;
    top: 30%;
    background: #000;
}
.burger-button::before {
    content: '';
    position: absolute;
    border-radius: 20px;
    height: 3px;
    width: 100%;
    bottom: 30%;
    background: #000;
}

/* -------------------HEADER-BODY------------------ */
/* -------------------HEADER-BODY------------------ */

.header-body {
}

.header-body__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-body-content {
    color: #242f51;
    max-width: 530px;
    display: flex;
    flex-direction: column;
}

.header-body-title::before {
    content: '';
    position: absolute;
    left: 0;
    border-radius: 25px;
    width: 40px;
    height: 100%;
    background: #feaa25;
}

.header-body-title {
    background: #e2eaed;
    max-width: calc(100% - 31%);
    border-radius: 25px;
    padding: 5px;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.header-body-title img {
    z-index: 1;
    margin: 0 20px 0 5px;
}

.header-body-title h1 {
    font-weight: 400;
    font-size: 18px;
}

.header-body-content span {
    font-weight: 600;
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 24px;
}

.header-body-content p {
    font-weight: 400;
    font-size: 18px;
    color: #616368;
    margin-bottom: 40px;
}

.header-body-btnbox {
    display: flex;
    align-items: center;
}

.header-btn-tryfree {
}

.btn-watch {
    /* margin-left: 24px; */
    color: #2500f9;
    font-weight: 400;
    background: transparent;
}
.header-body-imagebox {
}
.header-body-imagebox img {
    width: 100%;
}

/* ----------------SECTION-COMPANIES----------------- */
/* ----------------SECTION-COMPANIES----------------- */

.sect-companies {
    margin: 115px 0 150px 0;
}
.companies-container {
    width: 100%;
    max-width: 972px;
    margin: 0 auto;
    padding: 0 15px;
}
.companies__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.companies-list {
    display: flex;
    align-items: center;
}
.companies-list-item {
    margin-top: 40px;
    margin-right: 70px;
}
.companies-list-item img {
    width: 100%;
}
.companies-list-item:last-child {
    margin-top: 40px;
    margin-right: 0;
}

/* ----------------SECTION-APPS-FEATURES----------------- */
/* ----------------SECTION-APPS-FEATURES----------------- */


.sect-awesome-apps {
    margin-top: 150px;
}
.awesome-apps-container {
    width: 100%;
    max-width: 1510px;
    margin: 0 auto;
    padding: 0 15px;
}
.awesome-apps__inner {
    display: flex;
}
.awesome-apps-imagebox {
    margin-right: 28px;
}
.awesome-apps-imagebox img {
    width: 100%;
}
.awesome-apps-content {
    color: #616368;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 430px;

}
.awesome-apps-content h2 {
    color: #242f51;
    font-weight: 600;
    font-size: 36px;
    line-height: 146%;
    margin-bottom: 10px;
}
.awesome-apps-content>p {
    line-height: 126%;
    margin-bottom: 94px;
}
.awesome-features {
}
.awesome-feature {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 118px;
    justify-content: center;
    margin-bottom: 63px;
}
.awesome-feature:last-child {
    margin-bottom: 0;
}
.features-speed::before {
    content: '';
    position: absolute;
    left: 0;
    width: 88px;
    height: 88px;
    background: url('./speed.svg') no-repeat;
}
.features-prototyping::before {
    content: '';
    position: absolute;
    left: 0;
    width: 88px;
    height: 88px;
    background: url('./prototyping.svg') no-repeat;
}
.features-vector::before {
    content: '';
    position: absolute;
    left: 0;
    width: 88px;
    height: 88px;
    background: url('./vector.svg') no-repeat;
}
.features-prototyping span {
    font-size: 20px;
    font-weight: 600;
    color: #2563ff;
}
.features-speed span {
    font-size: 20px;
    font-weight: 600;
    color: #f55767;
}
.features-vector span {
    font-size: 20px;
    font-weight: 600;
    color: #40975f;
}

/* ----------------SECTION-OPPORTUNITIES----------------- */
/* ----------------SECTION-OPPORTUNITIES----------------- */

.sect-opportunities {
    margin-bottom: 115px;
}
.opportunities-container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;
}

/* -opportunities-up- */

.opportunities-up {
    margin-bottom: 114px;
}
.opportunities-up__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.opportunities-up-ltext {
    color: #242f51;
    font-size: 40px;
    font-weight: 600;
}
.opportunities-separation {
    content: '';
    width: 3px;
    height: 147px;
    background: #616368;
    margin: 0 100px;
}
.opportunities-up-rtext {
    color: #616368;
}

/* -opportunities-down- */

.opportunities-down {
}
.opportunities-down__inner {
}
.opportunities-down-list {
    display: flex;
    justify-content: space-between;
}
.opportunities-down-item {
    color: #616368;
    position: relative;
    padding-top: 125px;
    max-width: 264px;
}
.opportunities-bill::before {
    position: absolute;
    content: '';
    top: 0;
    width: 88px;
    height: 88px;
    background: url('./bill.svg');
}
.opportunities-bill span {
    color: #f55767;
}
.opportunities-network::before {
    position: absolute;
    content: '';
    top: 0;
    width: 88px;
    height: 88px;
    background: url('./network.svg');
}
.opportunities-network span {
    color: #2563ff;
}
.opportunities-badge::before {
    position: absolute;
    content: '';
    top: 0;
    width: 88px;
    height: 88px;
    background: url('./badge.svg');
}
.opportunities-badge span {
    color: #40975f;
}
.opp-down-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
}
.opp-down-text {
    line-height: 146%;
}

/* ----------------SECTION-DESIGN-PROG----------------- */
/* ----------------SECTION-DESIGN-PROG----------------- */

.sect-design-prog {
    margin-bottom: 60px;
}
.design-prog-container {
    width: 100%;
    max-width: 1318px;
    margin: 0 auto;
    padding: 0 15px;
}
.design-prog__inner {
    display: flex;
    align-items: center;
}
.design-prog-imagebox {
    padding-right: 20px;
}
.design-prog-imagebox img {
    width: 100%;
}
.design-prog-content {
    max-width: 410px;
    color: #0e121b;
    line-height: 126%;
    margin-left: 110px;
}
.design-prog-content h3 {
    color: #242f51;
    font-size: 36px;
    font-weight: 600;
    line-height: 146%;
    margin-bottom: 30px;
    
}

.design-prog-text {
    margin-bottom: 40px;
}

.design-prog-btnbox {
    display: flex;
}

/* ----------------SECTION-WHY-CHOOSE----------------- */
/* ----------------SECTION-WHY-CHOOSE----------------- */

.sect-whychoose {
    margin: 140px 0 190px 0;

}
.whychoose-container {
    width: 100%;
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
}
.whychoose__inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whychoose__inner h4,
.whychoose__inner span {
    color: #242f51;
}

.whychoose__inner p {
    color: #616368;
}

.whychoose-title-content {
    max-width: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 95px;
}
.whychoose-title-content h4 {
    font-weight: 600;
    max-width: 445px;
    font-size: 36px;
    line-height: 146%;
    margin-bottom: 32px;
}
.whychoose-blocks {
}
.whychoose-list {
    display: flex;
    flex-wrap: wrap;
}
/* .whychoose-item::before {
    content: '';
    top: 0;
    left: 0;
    transform: translateX(125%);
    width: 88px;
    height: 88px;
    position: absolute;
    background: url('./icon-ui.svg');
} */
.whychoose-item {
    /* position: relative; */
    max-width: 33%;
    padding: 0 25px 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.whychoose-item img {
    margin-bottom: 20px;
}
.whychoose-item span {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

/* ----------------SECTION-ULTIMATE----------------- */
/* ----------------SECTION-ULTIMATE----------------- */

.sect-ultimate {
    margin: 60px 0 170px 0;
    display: flex;
    overflow: hidden;
    align-items: center;
}
.ultimate-main {
    flex: 0 0 100%;
}
.ultimate-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.ultimate__inner {
    display: flex;
    align-items: center;
}

.ultimate-content {
    flex: 0 0 60%;
    max-width: 658px;
}

.ultimate-content h5,
.ultimate-content span {
    color: #242f51;
}
.ultimate-content p{
    color: #616368;
}
.ultimate-title-content {
    max-width: 405px;
    display: inline-block;
    margin-bottom: 64px;
}
.ultimate-title-content h5 {
    font-size: 36px;
    font-weight: 600;
    line-height: 146%;
    margin-bottom: 10px;
}
.ultimate-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.ultimate-item {
    display: flex;
    flex-direction: column;
    max-width: 278px;
    margin-right: 100px;
    margin-bottom: 60px;
    /* padding: 20px 100px 20px 0; */
    /* padding-right: 100px; */
}

.ultimate-item:nth-child(2),
.ultimate-item:last-child {
    margin-right: 0;
}

.ultimate-item span {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.ultimate-item img {
    margin-bottom: 30px;
}
.ultimate-imagebox {
    flex: 0 0 40%;
    position: relative;
    max-width: 763px;
    transform: translateX(-115%);
}
.ultimate-imagebox img {
    /* transform: translateX(75%) translateY(-100%); */
    max-width: 100%;
}

.ultimate-btnbox {
    display: inline-flex;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
}
.ultimate-btnbox a {
    padding-left: 56px;
    padding-right: 56px;
}

/* ----------------SECTION-ULTIMATE----------------- */
/* ----------------SECTION-ULTIMATE----------------- */

.sect-suscribe {
    margin-bottom: 41px;
    opacity: 0;
    transition: .3s;
}
.sect-suscribe--show {
    transition: opacity .5s;
    opacity: 1;
}
.suscribe-container {
    width: 100%;
    max-width: 800px;
    padding: 0 15px;
    margin: 0 auto;
}
.suscribe__inner {
    display: flex;
    justify-content: center;
    color: #616368;
    align-items: center;
    flex-direction: column;
}
.suscribe-title-content {
    text-align: center;
    max-width: 660px;
    margin-bottom: 40px;
}
.suscribe-title-content span {
    max-width: 510px;
    color: #242f51;
    font-size: 36px;
    font-weight: 600;
}
.suscribe-slider-block {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    max-width: 775px;
    overflow: hidden;
    height: 725px;
}

.suscribe-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 282px;
    height: 60px;
    padding: 0 40px;
    background: #fff;
    border: 2px solid rgba(97, 99, 104, .33);
    border-radius: 35px;
    margin-bottom: 40px;
    font-weight: 700;
    color: #fff;
    position: relative;
}

.suscribe-buttons a {
    display: flex;
    flex-direction: row;
}



.blue-block {
    left: 5px;
    position: absolute;
    background: #2500f9;
    padding: 25px 70px;
    border-radius: 35px;
}

.button-monthly {
    z-index: 2;
}

.button-annually {
    z-index: 2;
}

.unactive-button {
    font-weight: 500;
    color: #616368;
}

.suscribe-blocks {
    transition: .7s;
    width: 1475px;
    position: relative;
    float: left;
    left: 398px;
}
.suscribe-block {
    margin-right: 50px;
}

.suscribe-block {
    color: #999ca5;
    float: left;
    max-width: 315px;
    width: 100%;
    border-radius: 9px;
    text-align: center;
    border: 2px solid #ebebeb;
    transition: transform .3s, box-shadow .3s
}
.suscribe-block:hover {
    transform: translateY(-1%);
    border: none;
    box-shadow: 0 50px 50px 1px rgba(6, 15, 39, 0.2);
    /* transition: all .3s; */
}


/* .suscribe-block--active {
    border: none;
    box-shadow: 0 75px 100px 10px rgba(97, 99, 104, .2);
} */

.suscribe-block-up {
    padding: 40px 40px 30px;
    /* background: #999; */
    margin-bottom: 20px;
    /* border-radius: 25px; */
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    /* box-shadow: inset 0 -25px 125px -100px #000; */
    /* background: linear-gradient(#fff 0%, #f4f7f9 100%); */
    background: linear-gradient(#fff 0%, #f4f7f9 100%);
}
.subscribe-date {
    margin-bottom: 15px;
    font-size: 18px;
}
.subscribe-cost {
    font-weight: 600;
    font-size: 60px;
    color: #242f51;
    letter-spacing: 2px;
}
.subscribe-up-title {
    font-weight: 600;
    color: #242f51;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 5px;

}

.suscribe-block-down {
    display: flex;
    flex-direction: column;
}

.suscribe-block-down span {
    margin: 10px 0;
}
.suscribe-button {
    padding: 20px 50px;
    color: #fff;
    font-weight: 600;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2500f9;
    margin: 20px auto;
}

.free-trial {
    padding: 0;
    color: #2500f9;
    background: #fff;
    margin: 10px 0 30px 0;
}

/* ----------------SECTION-MEET-CLIENT----------------- */
/* ----------------SECTION-MEET-CLIENT----------------- */

.sect-meet-client {
    display: flex;
    margin: 155px 0 172px 0;
    overflow: hidden;
    align-items: center;
}
.meet-client-imagebox {
    position: relative;
    flex: 0 0 40%;
    max-width: 823px;
    /* left: 0; */
    transform: translateX(-225%);
}
.meet-client-main {
    flex: 0 0 100%;
}
.meet-client-container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.meet-client__inner {
    display: flex;
    align-items: center;
    justify-content: end;
}
.meet-client-imagebox img {
    width: 100%;
}
.meet-client-content {
    position: relative;
    flex: 0 0 45%;
    color: #616368;
    max-width: 540px;
}
.meet-client-title {

}
.meet-client-title h6 {
    color: #242f51;
    font-size: 40px;
    font-weight: 600;
    max-width: 510px;
    line-height: 126%;
    margin-bottom: 30px;
}
.meet-client-untitle {
    max-width: 510px;
}
.stars {
    margin-top: 30px;
    display: block;
}
.meet-client-title span {
    color: #242f51;
    display: inline-block;
    margin: 20px 0;
    font-weight: 600;
    font-size: 20px;
}

.meet-client-slider--wrapper {
    position: relative;
    white-space: nowrap;
    padding: 0 10px;
    overflow: hidden;
}

.meet-client-slider {
    margin-top: 44px;
    display: flex;
    width: 1620px;
    /* transition: all .5s; */
    position: relative;
    left: 0;
    transition: left ease 1s;
}

.meet-client-slide {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.meet-client-avatar {
    margin-right: 30px;
}
.meet-client-fcontent {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
.meet-client-name {
    font-weight: 600;
    color: #242f51;
    margin-bottom: 4px;
}
.meet-client-post {
    color: #616368;
}

.slide-next {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 50px;
    height: 50px;
    background: url('./right-arrow.svg') center/17px 11px no-repeat,  #fff;
    border-radius: 50%;
    border: 1px solid #eff3f8;
    transition: background .5s;
}
.slide-next:hover {
    background: url('./right-purple-arrow.svg') center/17px 11px no-repeat, #eff3f8;
}
.slide-prev:hover {
    background: url('./left-purple-arrow.svg') center/17px 11px no-repeat, #eff3f8;
}

.slide-prev {
    position: absolute;
    right: 60px;
    top: 50%;
    width: 50px;
    margin-right: 20px;
    height: 50px;
    background: url('./left-arrow.svg') center/17px 11px no-repeat,  #fff;
    border-radius: 50%;
    border: 1px solid #eff3f8;
}

/* ----------------SECTION-QUESTIONS----------------- */
/* ----------------SECTION-QUESTIONS----------------- */


.sect-questions {
    margin-bottom: 110px;
}
.questions-container {
    width: 100%;
    max-width: 973px;
    padding: 0 15px;
    margin: 0 auto;
}
.questions__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.questions-title-content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    max-width: 660px;
    color: #616368;
    margin-bottom: 48px;
}

.questions-title {
    font-size: 40px;
    font-weight: 600;
    color: #242f51;
    margin-bottom: 20px;
}
.faq-blocks {
    width: 100%;
}
.faq-block {
    position: relative;
    width: 100%;
    color: #616368;
    background: #f5f7fa;
    padding: 20px 48px;
    margin-bottom: 15px;
    transition: padding .3s;

}
.faq-block--open {
    transition: padding .3s;
    padding: 56px 48px;
}
.faq-block span {
    font-size: 20px;
    font-weight: 600;
    color: #242f51;
}
.faq-link {
    display: block;
}
.faq-text {
    margin-top: 20px;
    display: block;
}

.faq-block::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 1.5px;
    border-radius: 25px;
    top: 35px;
    right: 30px;
    transform: translateY(-50%);
    background: #242f51;
}

.faq-block::after {
    content: '';
    position: absolute;
    border-radius: 25px;
    width: 2px;
    height: 18px;
    top: 35px;
    right: 38px;
    transform: translateY(-50%);
    background: #242f51;
}

/* ----------------SECTION-DOWNLOAD----------------- */
/* ----------------SECTION-DOWNLOAD----------------- */

.sect-download {
    /* margin: 100px 0 100px 0; */
    align-items: center;
    margin: 20px 0;
}

.download-main {
}

.download-container {
    display: flex;
    align-items: center;
    max-width: 1473px;
    margin: 0 auto;
    padding: 0 15px;
    align-self: center;
}
/* .download-container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
} */
.download__inner {
    max-width: 630px;
}
.download__inner p {
    line-height: 146%;
    color: #616368;
}

.download-title {
    font-weight: 600;
    font-size: 48px;
    color: #242f51;
    margin-bottom: 28px;
    display: inline-block;
}
.download-apps {
    margin-top: 36px;
    display: flex;
}
.download-apps img:first-child {
    margin-right: 32px;
}

.download-imagebox {
    max-width: 844px;
    height: 390px;
    display: block;
    position: relative;
}
.download-imagebox img {
    width: 100%;
}

/* ----------------FOOTER----------------- */
/* ----------------FOOTER----------------- */

.footer {
    height: 100%;
    width: 100%;
    background: #09142e;
}
.footer-main {
    color: #fff;
    padding: 150px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}
.footer-logo span {
    color: #fcae61;
    font-size: 30px;
    font-weight: 600;
}
.footer-nav {
    margin: 50px 0;
}
.footer-list {
    display: flex;
}
.footer-item {
    margin-right: 35px;
}
.footer-link-list {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}
.footer-link-social {
    margin-right: 20px;
}
.footer-link-social:last-child {
    margin-right: 0;
}

.footer-copyright {
    color: #616368;
}